<%- model_class = Qualificacao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nota) %></th>
      <th><%= model_class.human_attribute_name(:valor_gasto) %></th>
      <th><%= model_class.human_attribute_name(:restaurante_id) %></th>
      <th><%= model_class.human_attribute_name(:cliente_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @qualificacoes.each do |qualificacao| %>
      <tr>
        <td><%= link_to qualificacao.id, qualificacao_path(qualificacao) %></td>
        <td><%= qualificacao.nota %></td>
        <td><%= qualificacao.valor_gasto %></td>
        <td><%= qualificacao.restaurante_id %></td>
        <td><%= qualificacao.cliente_id %></td>
        <td><%=l qualificacao.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_qualificacao_path(qualificacao), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      qualificacao_path(qualificacao),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_qualificacao_path,
            :class => 'btn btn-primary' %>
