<p id="notice"><%= notice %></p>

<h1>Listing Receitas</h1>

<table>
  <thead>
    <tr>
      <th>Conteudo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receitas.each do |receita| %>
      <tr>
        <td><%= receita.conteudo %></td>
        <td><%= link_to 'Show', receita %></td>
        <td><%= link_to 'Edit', edit_receita_path(receita) %></td>
        <td><%= link_to 'Destroy', receita, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receita', new_receita_path %>
